# Ignore the SQLite database
**/ciwqs_data.db
*.db

# Ignore egg-info directories
**/ciwqs_scraper.egg-info/ 

*pyc
#ignore all the downloaded folders in output except the 2025-10-31 folder

npdes_permits/output/*
!npdes_permits/output/2026-2-18/
!npdes_permits/output/2026-2-18/**

# Cached ontology files from github
npdes_permits/data/ontology_cache/
